:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.849);
  background-color: rgba(151, 147, 147, 0.751);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing:border-box;
  overflow-x: hidden;

}



#app{
  width: 100vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a{
  text-decoration: none;
  color:rgba(0, 0, 0, 0.849);
}


body {
  margin: 0;
  display: block;
  float:left;
  min-width: 100vw;
  min-height: 100vh;
}



.header
{
  top:0;
  position:sticky;
  min-width: 100vw;
  text-decoration: none;
  background-color: rgba(151, 147, 147, 0.547);
  border-radius: 0 0 45px 45px;
  overflow: hidden;
  margin:0;
}

.header a
{
  box-sizing: border-box;
  border: rgb(255, 255, 255) 1px solid;
  border-style:inset;
  float:left;
  margin: 0;
  min-width: 20vw;
  text-decoration: none;
  background-color: white;
  text-align: center;
  color: rgba(0, 0, 0, 0.849);
  font-size:3vmin;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  transition:0.5s;
  padding-top:2vh;
  padding-bottom:2vh;
}

.header a:hover
{
  background-color: rgba(255, 255, 255, 0.716)
}

.account
{
  margin-top:15vh;
  max-width:100vw;
  float:left;
}

.account input
{
  float:left;
  width:50vw;
  margin: 1vh 25vw 0 25vw;
  padding: 2vh 0 2vh 0;
  text-align: center;
  border-radius: 0 0 25px 25px;
  overflow:hidden;
  background-color:rgb(43, 43, 43);
  color:rgb(142, 142, 142)
}

.account input::placeholder
{
  text-align: center;
  line-height: normal;
  font-weight: bold;
  color:rgb(142, 142, 142)
}

.account h1
{
  margin:0;
}

.account button
{
  float:left;
  width:40vw;
  margin: 1vh 30vw 0 30vw;
  padding: 2vh 0 2vh 0;
  text-align:center;
  border-radius: 0 0 25px 25px;
  overflow:hidden;
  background-color:rgb(43, 43, 43);
  color:rgb(142, 142, 142);
  font-weight:bold;
}

h1
{
  width:100%;
  margin-top:15vh;
  text-align: center;
}

.container
{
  float:left;
  width: 100%;
  margin:5vh 0 0;
}

.exercise
{
  width:100%;
  background-color:rgba(151, 147, 147, 0.547);
}

.welcome
{
  padding:1.5% 0 1.5%;
  background-color: rgb(212, 212, 212);
  border-radius: 45px 45px;
  margin: 5vmin 10% 0;
  width: 80%;
  transition: 0.5s;
}

.welcome + a > div
{
  margin-top: 1vh !important;
}

.welcome:hover
{
  background-color: white;
}

.welcome h1
{
  margin:3% 0 1.5%;
  font-size: 2.5vmin;
}


.welcome h1 a
{
  margin:0;
  font-size: 3vmin;
  text-decoration: none;
  color:rgba(0, 0, 0, 0.849);
  transition: 0.5s;
  text-transform: uppercase;

}
.welcome h1 a:hover
{
  color:#F7C223;
}

.welcome button
{
  width:80%;
  padding:15px 0;
  margin:2.5vh 10% 0 10%;
  border-radius: 15px;
  transition: 0.5s;
}

.welcome button:hover
{
  background-color: #181818;
  transition: 0.5s;
}


.plans
{
  width:100%
}

.exercise
{
  float:left;
  display:block;
  padding: 0.5% 0;
  background-color: white;
  border-radius: 45px 45px;
  margin:2.5vh 25% 0 25%;
  width: 50%;
  transition: 0.5s;
  text-align: center;
  font-weight: bolder;
  font-size:3vmin;
}

.exercise h4
{
  display:block;
  width:100%;
  margin: 2.5% 0 2.5% 0;
  float:left;
}

.exercise h6
{
  width:20%;
  margin: 0 6.66% 2.5% 6.66%;
  display:block;
  float:left;
}

.plans a
{
  float:left;
  display:block;
  padding:3% 0;
  background-color: white;
  border-radius: 45px 45px;
  margin: 5vh 25vw 0 25vw;
  min-width: 50vw;
  transition: 0.5s;
  text-align: center;
  font-weight: bolder;
  font-size:3vmin
}

.plans a:hover
{
  background-color:rgb(212, 212, 212);
  transition: 0.5s;
}

.plans a::target-text:hover
{
  color:white;
  transition: 0.5s;
}

.plans form
{
  float:left;
  display:block;
  padding:3% 0;
  background-color: white;
  border-radius: 45px 45px;
  margin: 20vh 25vw;
  min-width: 50vw;
  transition: 0.5s;
}

.plans input
{
  padding: 2% 0;
  border-radius: 25px;
  text-align:center;
  color:white;
  width:50%;
  margin: 1% 25%;
  transition: 0.5s;
}

.plans button
{
  width:20%;
  margin:1% 40% 0;
  padding:1.5% 0 1.5%;
  border-radius: 15px;
  background-color: white;
  color:rgb(142, 142, 142);
  font-weight: bolder;
  transition: 0.5s;
}

.plans button:hover
{
  background-color: rgba(199, 198, 198, 0.716);
  transition: 0.5s;
}

.plans h1
{
  text-align: center;
  margin:2.5% 0;
}

.plans h1:hover
{
  color:rgba(0, 0, 0, 0.849);
}

.plans input::placeholder
{
  text-align: center;
  color:rgb(142, 142, 142)
}

.navigator
{
  display:block;
  width:100%;
  overflow: hidden;
  background-color: rgb(135, 135, 135);
  margin:0;
  border-radius: 45px 45px 0 0;
}

.navigator a
{
  box-sizing: border-box;
  border: rgb(135, 135, 135) 1px solid;
  border-style:inset;
  display:block;
  color:white;
  float:left;
  margin: 0;
  width:33.3333333%;
  background-color:rgb(135, 135, 135);
  overflow:hidden;
  text-align: center;
  padding:15px 0 ;
  transition: 0.5s;
}

.wider
{
  width: 25% !important;
}

.narrower
{
  width: 50% !important;
}

.narrowest
{
  width:100% !important;
  margin:0 !important;
}



.navigator a:hover
{
  background-color:rgb(160, 160, 160);
  transition: 0.5s;
}

.navigator p
{
  box-sizing: border-box;
  border: rgb(135, 135, 135) 1px solid;
  border-style:inset;
  display:block;
  color:white;
  float:left;
  margin: 0;
  width:33.3333333%;
  background-color:rgb(135, 135, 135);
  overflow:hidden;
  text-align: center;
  padding:15px 0 ;
  transition: 0.5s;
}
.navigator p:hover
{
  background-color:rgb(160, 160, 160);
  transition: 0.5s;
}

.modalNavigator
{
  display:block;
  float:left;
  width:100%;
  overflow: hidden;
  background-color:rgb(135, 135, 135);
  margin:0; 
}

.modalNavigator a
{
  box-sizing: border-box;
  display:block;
  border: rgb(199, 199, 199) 1px solid;
  border-style: inset;
  color:white;
  float:left;
  margin: 0;
  width:50%;
  background-color:rgb(135, 135, 135);
  overflow:hidden;
  padding: 2.5% 0;
  text-align: center;
  transition: 0.5s;
}
.modalNavigator a:hover
{
  background-color:rgb(160, 160, 160);
  transition: 0.5s;
}

h2
{
  color:white;
  text-align: center;
}

h5
{
  color:white;
  text-align: justify;
  letter-spacing: normal;
  margin: 0 2.5% 1.5% 2.5%;

}

.addingExercise
{
  width:100%;
  min-height:100vh;
}

.exerciseContainer
{
  display:block;
  float:left;
  margin-top:2%;
  min-height:100vh;
  width:50%;
}

.exerciseContainer form
{
  width:100%;
  min-height:100vh;
}

.exerciseContainer fieldset
{
  
  margin-inline:0;
  margin-block:0;
  padding-inline: 0;
  padding-block: 0;
  min-inline-size:0;
  padding:0;
  border: white 1px solid;
  box-sizing: border-box;
  border-style:inset;
  border-radius: 0 25px 0 0;
  background-color: rgb(160, 160, 160);
  min-height:100vh;
  max-width:100%;
}
.exerciseContainer legend
{
  margin-left:5%;
  border: rgb(0, 0, 0) 3px;
  box-sizing: border-box;
  border-radius: 1px 10px 1px 1px;
  background-color: white;
  font-weight: bolder;
}

.exerciseContainer p
{
  margin: 2.5vh 4vw;
  text-align: justify;
}

.exerciseContainer input[type=number]
{
  width: 80%;
  margin: 2.5vh 10% 0 10%;
  padding:15px 0;
  border-radius: 15px;
  text-align: center;
}

.exerciseContainer input[type=number]::placeholder
{
  text-align: center;
}

.exerciseContainer .exerciseToAdd
{
  
  float:left;
  display:block;
  width:80%;
  margin:0 10%;
  margin-top:2.5vh;
  border: white 1px solid;
  border-style: inset;
  box-sizing: border-box;
  border-radius: 25px;
  text-align: center;
  background-color: white;

}

.exerciseContainer button
{
  width:80%;
  padding:15px 0;
  margin:2.5vh 10% 0 10%;
  border-radius: 15px;
}

.planOverview p
{
  
  border-right:1px black solid;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
}

.planOverview p > p
{
  border-right:none;
}

.planOverview
{
  display:block;
  float:left;
  width:50%;
  margin:0;
}

.planOverview a
{
  width: 80%;
  padding: 15px 0;
  margin: 2.5vh 10% 0 10%;
  border-radius: 15px;
  background-color: white;
  float:left;
  display:block;
  text-align: center;
  transition: 0.5s;
}

.planOverview a:hover
{
  background-color:rgb(160, 160, 160);
  transition: 0.5s;
}

.narrowDay
{
  width:35% !important;
  margin:2.5vh 5% 0 10% !important;
  transition: 0.5s;
}

.narrowDay:hover
{
  background-color:rgb(160, 160, 160);
  transition: 0.5s;
}

.narrowDay + .narrowDay
{
  margin:2.5vh 10% 0 5% !important;
}

.radio
{
  display:flex;
  flex-direction: row;
  margin-top:1vh;
  margin-left:1.5vw;
  font-size:4vmin;
  font-weight: 400;
}


.radio label
{
  margin-top:0.3vh;
  margin-left:0.7vw;
}



.spinner {
  overflow: hidden;
  float:left;
  margin: 10vh 40vw 0 40vw;
  min-width:20vw;
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}